<div class="order_game_content">
    <div class="add_response" id="add_response" style="display: none;">
        <div class="actual_images" id="actual_images">
        </div>
        <div class="choose_images">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input1" ng-click="game.addSound(1)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input2" ng-click="game.addSound(2)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input3" ng-click="game.addSound(3)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input4" ng-click="game.addSound(4)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input5" ng-click="game.addSound(5)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input6" ng-click="game.addSound(6)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input7" ng-click="game.addSound(7)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input8" ng-click="game.addSound(8)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input9" ng-click="game.addSound(9)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input10" ng-click="game.addSound(10)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input11" ng-click="game.addSound(11)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input12" ng-click="game.addSound(12)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input13" ng-click="game.addSound(13)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input14" ng-click="game.addSound(14)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input15" ng-click="game.addSound(15)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input16" ng-click="game.addSound(16)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input17" ng-click="game.addSound(17)">
            <img src="img/sound_cat.png" alt="" class="order_game_img" id="input18" ng-click="game.addSound(18)">
        </div>
    </div>

    <div class="black_border_button next_level" ng-click="nextLevelClick()" style="display: none;" id="next_level_but">Следующий уровень</div>
    <div class="black_border_button next_level" ng-click="startClick()" id="start_button" allowed="autoplay">Старт</div>
    <div style="width: 100%; display: none;" id="looser"><img src="img/lose_cat.jpg" alt="" style="width: 100%; height: auto;"></div>
    <div style="width: 100%; display: none;" id="winner"><img src="img/win_cat.jpg" alt="" style="width: 100%; height: auto;"></div>
</div>

<style>
    body {
        background: black;
        overflow: auto;
    }

    @media only screen and (max-width: 900px) {
        body {
            overflow: hidden;
        }
    }
</style>