<div class="black_background"></div>
<div class="main_content_4x4">
    <div class="memory_game_4x4">
        <img src="https://media.discordapp.net/attachments/940233680289402880/941742554397958144/unknown.png?width=1065&height=658" alt="" style="position: relative; width: 100%; height: auto">
    </div>
    <section class="memory_game_4x4" id="game_panel">
        <div class="memory-card" id="card1" ng-click="game.flip(1)">
            <img src="img/cat_front.jpg" alt="" class="front-face">
            <img src="" alt="" class="back-face" id="img1">
        </div>
        <div class="memory-card" id="card2" ng-click="game.flip(2)">
            <img src="img/cat_front.jpg" alt="" class="front-face">
            <img src="" alt="" class="back-face" id="img2">
        </div>
        <div class="memory-card" id="card3" ng-click="game.flip(3)">
            <img src="img/cat_front.jpg" alt="" class="front-face">
            <img src="" alt="" class="back-face" id="img3">
        </div>
        <div class="memory-card" id="card4" ng-click="game.flip(4)">
            <img src="img/cat_front.jpg" alt="" class="front-face">
            <img src="" alt="" class="back-face" id="img4">
        </div>
        <div class="memory-card" id="card5" ng-click="game.flip(5)">
            <img src="img/cat_front.jpg" alt="" class="front-face">
            <img src="" alt="" class="back-face" id="img5">
        </div>
        <div class="memory-card" id="card6" ng-click="game.flip(6)">
            <img src="img/cat_front.jpg" alt="" class="front-face">
            <img src="" alt="" class="back-face" id="img6">
        </div>
        <div class="memory-card" id="card7" ng-click="game.flip(7)">
            <img src="img/cat_front.jpg" alt="" class="front-face">
            <img src="" alt="" class="back-face" id="img7">
        </div>
        <div class="memory-card" id="card8" ng-click="game.flip(8)">
            <img src="img/cat_front.jpg" alt="" class="front-face">
            <img src="" alt="" class="back-face" id="img8">
        </div>
        <div class="memory-card" id="card9" ng-click="game.flip(9)">
            <img src="img/cat_front.jpg" alt="" class="front-face">
            <img src="" alt="" class="back-face" id="img9">
        </div>
        <div class="memory-card" id="card10" ng-click="game.flip(10)">
            <img src="img/cat_front.jpg" alt="" class="front-face">
            <img src="" alt="" class="back-face" id="img10">
        </div>
        <div class="memory-card" id="card11" ng-click="game.flip(11)">
            <img src="img/cat_front.jpg" alt="" class="front-face">
            <img src="" alt="" class="back-face" id="img11">
        </div>
        <div class="memory-card" id="card12" ng-click="game.flip(12)">
            <img src="img/cat_front.jpg" alt="" class="front-face">
            <img src="" alt="" class="back-face" id="img12">
        </div>
        <div class="memory-card" id="card13" ng-click="game.flip(13)">
            <img src="img/cat_front.jpg" alt="" class="front-face">
            <img src="" alt="" class="back-face" id="img13">
        </div>
        <div class="memory-card" id="card14" ng-click="game.flip(14)">
            <img src="img/cat_front.jpg" alt="" class="front-face">
            <img src="" alt="" class="back-face" id="img14">
        </div>
        <div class="memory-card" id="card15" ng-click="game.flip(15)">
            <img src="img/cat_front.jpg" alt="" class="front-face">
            <img src="" alt="" class="back-face" id="img15">
        </div>
        <div class="memory-card" id="card16" ng-click="game.flip(16)">
            <img src="img/cat_front.jpg" alt="" class="front-face">
            <img src="" alt="" class="back-face" id="img16">
        </div>
    </section>
</div>