<div class="dog_content">
    <div class="left_panel left_doggy">
        <img src="img/cats_tag1.jpg" alt="" class="dogs_tag">
    </div>
    <div class="right_panel right_doggy">
        <img src="img/name_black.jpg" alt="" class="name_of_game">
        <div class="game_panel">
            <div class="black_border_button para_cat" ng-click="catParaClick()">Пары</div>
            <div class="black_border_button order_cat" ng-click="catOrderClick()">Последовательность</div>
            <div class="black_border_button">Звуки</div>
        </div>
    </div>
</div>

<style>
    body {
        background: black;
    }
</style>