<div class="main_content_4x4">
    <div class="memory_game_4x4">
        <img src="https://media.discordapp.net/attachments/940233680289402880/941742554397958144/unknown.png?width=1065&height=658" alt="" style="position: relative; width: 100%; height: auto">
    </div>
    <section class="memory_game_4x4" id="game_panel">
        <div class="memory-card" id="card1" ng-click="game.flip(1)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img1" style="background-color: black;">
        </div>
        <div class="memory-card" id="card2" ng-click="game.flip(2)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img2" style="background-color: black;">
        </div>
        <div class="memory-card" id="card3" ng-click="game.flip(3)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img3" style="background-color: black;">
        </div>
        <div class="memory-card" id="card4" ng-click="game.flip(4)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img4" style="background-color: black;">
        </div>
        <div class="memory-card" id="card5" ng-click="game.flip(5)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img5" style="background-color: black;">
        </div>
        <div class="memory-card" id="card6" ng-click="game.flip(6)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img6" style="background-color: black;">
        </div>
        <div class="memory-card" id="card7" ng-click="game.flip(7)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img7" style="background-color: black;">
        </div>
        <div class="memory-card" id="card8" ng-click="game.flip(8)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img8" style="background-color: black;">
        </div>
        <div class="memory-card" id="card9" ng-click="game.flip(9)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img9" style="background-color: black;">
        </div>
        <div class="memory-card" id="card10" ng-click="game.flip(10)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img10" style="background-color: black;">
        </div>
        <div class="memory-card" id="card11" ng-click="game.flip(11)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img11" style="background-color: black;">
        </div>
        <div class="memory-card" id="card12" ng-click="game.flip(12)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img12" style="background-color: black;">
        </div>
        <div class="memory-card" id="card13" ng-click="game.flip(13)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img13" style="background-color: black;">
        </div>
        <div class="memory-card" id="card14" ng-click="game.flip(14)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img14" style="background-color: black;">
        </div>
        <div class="memory-card" id="card15" ng-click="game.flip(15)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img15" style="background-color: black;">
        </div>
        <div class="memory-card" id="card16" ng-click="game.flip(16)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img16" style="background-color: black;">
        </div>
        <div class="memory-card" id="card17" ng-click="game.flip(17)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img17" style="background-color: black;">
        </div>
        <div class="memory-card" id="card18" ng-click="game.flip(18)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img18" style="background-color: black;">
        </div>
        <div class="memory-card" id="card19" ng-click="game.flip(19)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img19" style="background-color: black;">
        </div>
        <div class="memory-card" id="card20" ng-click="game.flip(20)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img20" style="background-color: black;">
        </div>
        <div class="memory-card" id="card21" ng-click="game.flip(21)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img21" style="background-color: black;">
        </div>
        <div class="memory-card" id="card22" ng-click="game.flip(22)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img22" style="background-color: black;">
        </div>
        <div class="memory-card" id="card23" ng-click="game.flip(23)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img23" style="background-color: black;">
        </div>
        <div class="memory-card" id="card24" ng-click="game.flip(24)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img24" style="background-color: black;">
        </div>
        <div class="memory-card" id="card25" ng-click="game.flip(25)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img25" style="background-color: black;">
        </div>
        <div class="memory-card" id="card26" ng-click="game.flip(26)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img26" style="background-color: black;">
        </div>
        <div class="memory-card" id="card27" ng-click="game.flip(27)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img27" style="background-color: black;">
        </div>
        <div class="memory-card" id="card28" ng-click="game.flip(28)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img28" style="background-color: black;">
        </div>
        <div class="memory-card" id="card29" ng-click="game.flip(29)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img29" style="background-color: black;">
        </div>
        <div class="memory-card" id="card30" ng-click="game.flip(30)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img30" style="background-color: black;">
        </div>
        <div class="memory-card" id="card31" ng-click="game.flip(31)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img31" style="background-color: black;">
        </div>
        <div class="memory-card" id="card32" ng-click="game.flip(32)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img32" style="background-color: black;">
        </div>
        <div class="memory-card" id="card33" ng-click="game.flip(33)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img33" style="background-color: black;">
        </div>
        <div class="memory-card" id="card34" ng-click="game.flip(34)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img34" style="background-color: black;">
        </div>
        <div class="memory-card" id="card35" ng-click="game.flip(35)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img35" style="background-color: black;">
        </div>
        <div class="memory-card" id="card36" ng-click="game.flip(36)" style="width: 16.66%; height: 16.6%;">
            <img src="img/dog_front.jpg" alt="" class="front-face" style="background-color: black;">
            <img src="" alt="" class="back-face" id="img36" style="background-color: black;">
        </div>
    </section>
</div>