<div class="dog_content">
    <div class="left_panel left_doggy">
        <img src="img/dogs_tag1.jpg" alt="" class="dogs_tag">
    </div>
    <div class="right_panel right_doggy">
        <img src="img/name_white1.jpg" alt="" class="name_of_game">
        <div class="game_panel">
            <div class="black_border_button purple_button para_dog" ng-click="dogParaClick()">Пары</div>
            <div class="black_border_button purple_button order_dog" ng-click="dogOrderClick()">Последовательность</div>
            <div class="black_border_button purple_button">Звуки</div>
        </div>
    </div>
</div>