<div class="order_game_content">
    <div class="view_images" id="view_images">
        <div class="memory_game_4x4" id="view1">
            <img src="" alt="" style="position: relative; width: 100%; height: auto" id="img1">
        </div>
        <div class="memory_game_4x4" id="view2">
            <img src="" alt="" style="position: relative; width: 100%; height: auto" id="img2">
        </div>
        <div class="memory_game_4x4" id="view3">
            <img src="" alt="" style="position: relative; width: 100%; height: auto" id="img3">
        </div>
        <div class="memory_game_4x4" id="view4">
            <img src="" alt="" style="position: relative; width: 100%; height: auto" id="img4">
        </div>
    </div>

    <div class="add_response" id="add_response" style="display: none;">
        <div class="actual_images" id="actual_images">
        </div>
        <div class="choose_images">
            <img src="" alt="" class="order_game_img" id="input1" ng-click="game.addImage(1)">
            <img src="" alt="" class="order_game_img" id="input2" ng-click="game.addImage(2)">
            <img src="" alt="" class="order_game_img" id="input3" ng-click="game.addImage(3)">
            <img src="" alt="" class="order_game_img" id="input4" ng-click="game.addImage(4)">
            <img src="" alt="" class="order_game_img" id="input5" ng-click="game.addImage(5)">
            <img src="" alt="" class="order_game_img" id="input6" ng-click="game.addImage(6)">
            <img src="" alt="" class="order_game_img" id="input7" ng-click="game.addImage(7)">
            <img src="" alt="" class="order_game_img" id="input8" ng-click="game.addImage(8)">
            <img src="" alt="" class="order_game_img" id="input9" ng-click="game.addImage(9)">
            <img src="" alt="" class="order_game_img" id="input10" ng-click="game.addImage(10)">
            <img src="" alt="" class="order_game_img" id="input11" ng-click="game.addImage(11)">
            <img src="" alt="" class="order_game_img" id="input12" ng-click="game.addImage(12)">
            <img src="" alt="" class="order_game_img" id="input13" ng-click="game.addImage(13)">
            <img src="" alt="" class="order_game_img" id="input14" ng-click="game.addImage(14)">
            <img src="" alt="" class="order_game_img" id="input15" ng-click="game.addImage(15)">
            <img src="" alt="" class="order_game_img" id="input16" ng-click="game.addImage(16)">
            <img src="" alt="" class="order_game_img" id="input17" ng-click="game.addImage(17)">
            <img src="" alt="" class="order_game_img" id="input18" ng-click="game.addImage(18)">
        </div>
    </div>

    <div class="black_border_button purple_button next_level" ng-click="nextLevelClick()" style="display: none;" id="next_level_but">Следующий уровень</div>
    <div style="width: 100%; display: none" id="looser"><img src="img/lose_dog.png" alt="" style="width: 100%; height: auto;"></div>
</div>