<div class="homepage_content">
  <div class="title"><b>CAT&DOG UNDER MEMORY</b></div>
  <div class="homepage_first_block">
    <div class="homepage_img"><img src="img/uwu_cat.jpg" alt=""></div>
    <div class="homepage_text">
      <h3 style="text-align: center">НАША КОМАНДА</h3>
      Участники: <br>
      Инюцин Игнат: Веб-разработчик, пишет код. <br>
      Кистин Матвей: UX дизайнер, + создание системы баллов <br>
      Габдрахманова Софья:UI дизайнер <br>
      Руководитель: Сухаренко Д.В.
    </div>
    <div class="homepage_img"><img src="img/uwu_dog.jpg" alt=""></div>
  </div>
  <div class="homepage_second_block">
    <div class="homepage_text ad">
      Любишь смотреть мемасики в интернете? Тебе нравится смешные животные? Хотел бы играть и тренировать свою память одновременно? Тогда наша игра точно тебе понравится! Приложение стилизованно под мемных кошечек и собак, заходи и выбирай свою сторону! А дальше тебя ждет 3 веселых и полезных игры для развития твоей памяти: «пары», «последовательность» и «звуки». В них есть режимы разного уровня сложности, а значит у тебя точно все получится! Играй и становись лучшим! Да, ты сможешь отследить свой результат, потому что в нашем приложение есть система баллов! Удачи!
    </div>
    <div class="black_border_button purple_button homepage_button" style="height: 150px; line-height: 150px; font-size: 40px; margin-bottom: 50px;" ng-click="homepageClick()">Начать</div>
  </div>
</div>