<div class="guide_content">
  <div class="left_guide_part">
    <img src="img/name_white1.jpg" alt="" class="name_of_game">
    <div class="black_border_button purple_button para_dog" ng-click="redirectOnGame()">Играть!</div>
    <h1 style="text-align: center">Об игре</h1>
    <div class="text">
      <p>Последовательность - авторская игра. В начале ты запоминаешь последовательность картинок, потом повторяешь ее. Картинки могут повторятся и с каждым разом время их показа все меньше и меньше. ВНИМАНИЕ! отменить постановка карточек нельзя, когда вы поставите 4 карточки, либо появится переход на следующий уровень, либо вы проиграете.</p>
      <p> В реализации нашего проекта, мы создали такую же игру, а конкретнее, игру последовательность с мемными изображениями. Сделано это для того, чтобы взрослым людям было проще развивать память: яркие и смешные изображения лучше запоминаются. Такой подход делает игру интересной, увлекательной! Ниже приведена инструкция, как играть в эту игру наиболее эффективно и лучшим образом развивать в ней память</p>
    </div>
  </div>
  <div class="right_guide_part">
    <div class="text">
      <p style="text-align: center">Шаг первый - внимательно смотри на экран и запоминай появляющиеся там картинки</p>
    </div>
    <img src="img/order_first_step.gif" alt="" class="name_of_game">
    <div class="text">
      <p style="text-align: center">Шаг второй - Аккуратно восстанови последовательность. Изменить свое решение уже нельзя. Если ты сделал все правильно, появится кнопка перехода на следующий уровень</p>
    </div>
    <img src="img/order_second_step.gif" alt="" class="name_of_game">
    <div class="text">
      <p style="text-align: center">Дальше - сложнее! Придется быть более внимательным, чтобы продвинуться действительно далеко!</p>
    </div>
  </div>
</div>

<style>
  body {
    overflow-y: auto!important;
  }
</style>