<div class="guide_content">
    <div class="left_guide_part">
        <img src="img/name_white1.jpg" alt="" class="name_of_game">
        <div class="black_border_button purple_button para_dog" ng-click="redirectOnGame()">Играть!</div>
        <h1 style="text-align: center">Об игре</h1>
        <div class="text">
             <p>Пары, или в англоязычном варианте - Memory Game, одна из самых популярных игр на память
                Ее суть заключается в составлении "пар" - за раз можно переворачивать две карточки, прежде чем поднять новую пару старая опускается.
                При поднятии двух одинаковых картинок пара остается лицом вверх, и игра продолжается. Игра завершается, когда все карты нашли свою пару.</p>
            <p> В реализации нашего проекта, мы создали такую же игру, а конкретнее, игру пары с мемными изображениями. Сделано это для того, чтобы взрослым людям было проще развивать память: яркие и смешные изображения лучше запоминаются. Такой подход делает игру интересной, увлекательной! Ниже приведена инструкция, как играть в эту игру наиболее эффективно и лучшим образом развивать в ней память</p>

        </div>
    </div>
    <div class="right_guide_part">
        <div class="text">
            <p style="text-align: center">Шаг первый - переверните неизвестную вам карточку, постарайтесь ее запомнить</p>
        </div>
        <img src="img/first_step.gif" alt="" class="name_of_game">
        <div class="text">
            <p style="text-align: center">Шаг второй - если картинку на перевернутой карточке вы видели ранее и помните, где она находилась, переверните карточку со второй картинкой. Иначе переверните вторую неизвестную вам карточку и запомните ее.</p>
        </div>
        <img src="img/second_step.gif" alt="" class="name_of_game">
        <div class="text">
            <p style="text-align: center">Шаг третий - повторяйте первые два шага снова, пока не выиграете игру</p>
        </div>
        <img src="img/third_step.gif" alt="" class="name_of_game">
    </div>
</div>
<style>
    @media only screen and (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>