<div class="para_dog_content">
    <div class="para_mod_buttons text_para_game">
        <div class="mode_dog_text">EASY</div>
        <div class="mode_dog_text">HARD</div>
    </div>
    <div class="para_mod_buttons">
        <div class="black_border_button purple_button para_button para_4x4_dog_button" ng-click="dogFourGameClick()">4x4</div>
        <div class="black_border_button purple_button para_button para_6x6_dog_button" ng-click="dogSixGameClick()">6x6</div>
    </div>
    <div class="para_mod_buttons">
        <img src="img/doggy.png" alt="" class="doggy_img">
        <img src="img/doggy2.png" alt="" class="doggy_img">
    </div>
</div>