<div class="black_background" style="z-index: 0;"></div>
<div class="para_dog_content" style="z-index: 1">
    <div class="para_mod_buttons text_para_game">
        <div class="mode_cat_text">EASY</div>
        <div class="mode_cat_text">HARD</div>
    </div>
    <div class="para_mod_buttons">
        <div class="black_border_button para_button para_4x4_cat_button" ng-click="catFourGameClick()">4x4</div>
        <div class="black_border_button para_button para_6x6_cat_button" ng-click="catSixGameClick()">6x6</div>
    </div>
    <div class="para_mod_buttons">
        <img src="https://media.discordapp.net/attachments/940233680289402880/941339018161967174/viber_2022-02-09_20-20-48-546.png?width=659&height=658" alt="" class="doggy_img">
        <img src="img/bongo_cat.gif" alt="" class="doggy_img">
    </div>
</div>