<div class="guide_content">
    <div class="left_guide_part">
        <img src="img/name_white1.jpg" alt="" class="name_of_game">
        <div class="black_border_button purple_button para_dog" ng-click="redirectOnGame()">Играть!</div>
        <h1 style="text-align: center">Об игре</h1>
        <div class="text">
            <p>Звуки - разновидность игры последовательность. Вам проигрываются несколько звуков по очереди, после чего вы ищите их на саундбаре и восстанавливаете в той же последовательности. С каждым новым уровнем количество звуков увеличиваются на один. У игры есть конец, но добраться до него почти невозможно! Восстановив последовательность из 17 звуков вы выиграете игру!</p>
            <p>В игре мы старались использовать наиболее запоминающиеся звуки, как пример, песни из лая собак. Такие звуки легче запоминаются и поднимут вам настроение.</p>
        </div>
    </div>
    <div class="right_guide_part">
        <div class="text">
            <p style="text-align: center">Шаг первый - нажмите на кнопку старт и прослушайте данную последовательность звуков</p>
        </div>
        <img src="img/sound_first_step.gif" alt="" class="name_of_game">
        <div class="text">
            <p style="text-align: center">Шаг второй - прослушайте звуки в саундбаре, нажав по звуку один раз. Найдите данные вам звуки</p>
        </div>
        <img src="img/sound_second_step.gif" alt="" class="name_of_game">
        <div class="text">
            <p style="text-align: center">Шаг третий - любое нажатие подряд помимо первого будет считаться выбранным звуком. Восстановите последовательность звуков. ОСТОРОЖНО! Отменить свой выбор нельзя!</p>
        </div>
        <img src="img/sound_third_step.gif" alt="" class="name_of_game">
        <div class="text">
            <p style="text-align: center">Шаг четвертый - продолжайте свою путь. Дальше - сложнее, но при должном развитии слуховой памяти вы все сможете, тем более, это тренажер. Удачи!!! P.S. эта игра у котов в разы сложнее и требует большой чуткости</p>
        </div>
    </div>
</div>

<style>
    body {
        overflow-y: auto!important;
    }
</style>