@media only screen and (max-width: 768px) {
    .dog_content {
        flex-direction: column;
        align-items: center;
    }
    .left_panel {
        display: none;
    }
    .right_panel {
        width: 98%;
    }
    .black_border_button {
        position: relative;
        width: 90%;
    }
    .para_dog_content {
        flex-direction: row;
    }
    .para_mod_buttons {
        flex-direction: column;
        margin-bottom: 0;
        justify-content: center;
    }
    .mode_dog_text {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 600;
    }
    .mode_cat_text {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 600;
    }
    .doggy_img {
        height: 150px;
        width: 150px;
    }
    .text_para_game {
        display: none;
    }
    .guide_content {
        flex-direction: column;
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
        width: 98vw;
    }
    .left_guide_part,
    .right_guide_part {
        width: 100%;
        height: auto;
        overflow: hidden;
        overflow-x: hidden;
    }
    .text {
        position: relative;
        width: 90%;
    }
    .guide_content {
        overflow-y: auto;
    }
}
@media only screen and (max-width: 900px) {
    .homepage_first_block, .homepage_second_block {
        flex-direction: column;
        justify-content: center;
    }
    .ad {
        width: 98%;
    }
    .homepage_text {
        text-align: center;
        width: 98%;
    }
    .homepage_img {
        width: 70%;
        margin: auto;
    }
}